@use '../util' as *;
// source = https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100

.toggle {
    border: none;
    display: grid;
    gap: rem(4.8) rem(12);
    grid-template-columns: 1fr rem(60) 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    
    label {
        text-align: center;
        &[for="dark"]{
            grid-column: 1 / 2;
        }
        &[for="system"]{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &[for="light"]{
            grid-column: 3 / 4;
        }
    }
    &__wrapper {
        height: rem(24);
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: relative;
    }

    input[type='radio']{
        opacity: 0;
        margin: 0 rem(-2);
        z-index: 1;
        position: relative;
        height: rem(24);
        width: rem(19);
    }

    &__background {
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        border-radius: rem(12);
        overflow: hidden;
        background: linear-gradient(
            225deg, 
            var(--Toggle-bg-Start) 0%,
            var(--Toggle-bg-End) 98.02%
            );
    }
    
    &__button {
        position: absolute;
        left: rem(3);
        top: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--Very-Dark-Blue-BG);
        transition: all 150ms ease-in-out;
    }

    #light:checked ~ .toggle__button {
        left: calc(100% - 21px);
        right: 3px;
    }
    #system:checked ~ .toggle__button {
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }
}